.reviewContainer {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    max-width: 500px;
    margin-bottom: 8px;
    margin-right: 8px;
    background-color: rgb(239, 239, 240);
}

.reviewContainer:hover {
    cursor: pointer;
    background-color: rgb(222, 222, 223);
}

.reviewContainer:active {
    background-color: rgb(184, 184, 184);
}

.ratingContainer {
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
}

.bodyContainer {
    padding: 6px;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
